.ProseMirror {
    padding : 0px !important;
}
p.crepe-placeholder {
    display : none !important;
}

div.milkdown {
    h1 {
        font-size : clamp(30px, 2.1vw, 9999px) !important;
    }
    p {
        font-size : clamp(15px, 0.79vw, 9999px) !important;
    }
}